        <div id="prefs_advanced" class="advanced page">
            <h3 data-i18n-text="animation">System</h3>
            <ul class="mochi_list">
                <li class="mochi_list_item">
                    <input id="chk_prefs_use_verbose_mode" title="Enable verbose mode or not" type="checkbox" class="mochi_toggle widget">
                    <label for="chk_prefs_use_verbose_mode" class="label" data-i18n-text="enable_verbose_mode">Enable Verbose Mode</label>
                </li><li class="mochi_list_item">
                    <input id="chk_prefs_use_anonymous_stat" title="Let us colloect anonymous statistic information" type="checkbox" class="mochi_toggle widget" checked="checked">
                    <label for="chk_prefs_use_anonymous_stat" class="label" data-i18n-text="let_hotot_collects_anonymous_statistic_information">Let Hotot collects anonymous statistic information</label>
                </li>
            </ul>
            <p>
                <a id="btn_prefs_restore_defaults" class="mochi_button red" style="margin: 10px auto; display: block" data-i18n-text="restore_defaults">Restore Defaults</a>
            </p>
        </div><!-- END of prefs_advanced -->