        <div id="prefs_behavior" class="behavior page">
            <ul class="mochi_list">
                <li class="mochi_list_item">
                    <input id="chk_prefs_use_media_preview" title="Preview the media if possible." class="mochi_toggle widget" type="checkbox" checked="checked">
                    <label for="chk_prefs_use_media_preview" class="label" data-i18n-text="preview_embedded_media">Preview Embedded Media</label><br>
                </li><li class="mochi_list_item">
                    <input id="chk_prefs_filter_nsfw_media" title="Don't show previews if there's NSFW in the tweet." class="mochi_toggle widget" type="checkbox">
                    <label for="chk_prefs_filter_nsfw_media" class="label" data-i18n-text="filter_nsfw_media">Don't show previews if there is NSFW in the tweet.</label><br>
                </li><li class="mochi_list_item">
                    <input id="chk_prefs_use_deleted_mark" title="Use a sign to mark deleted tweet instead of deleting it" class="mochi_toggle widget" type="checkbox" checked="checked">
                    <label for="chk_prefs_use_deleted_mark" class="label" data-i18n-text="mark_deleted_tweets">Mark deleted tweets</label><br>
                </li>
            </ul>
            <ul class="mochi_list">
                <li class="mochi_list_item">
                    <select id="sel_prefs_default_picture_service" class="mochi_combo widget" title="Select a default picture service" data-i18n-title="select_a_default_picture_service">
                        <option value="twitter.com" data-i18n-text="twitter_official_service">Twitter Official Service</option>
                        <option value="img.ly">Img.ly</option>
                        <option value="twitpic.com">Twitpic.com</option>
                        <option value="lockerz.com">Lockerz.com</option>
                    </select>
                    <label data-i18n-text="default_picture_service" class="label">Default Picture Service</label>
                </li>
                <li class="mochi_list_item">
                    <select id="sel_prefs_readlater_service" class="mochi_combo widget" title="Select a default picture service" data-i18n-title="select_a_read_later_service">
                        <option value="pocket">Pocket</option>
                        <option value="instapaper">Instapaper</option>
                    </select>
                    <label data-i18n-text="read_later_service" class="label">Read Later Service</label>
                </li>
            </ul>
        </div><!-- END of prefs_behavior-->